In [ ]:
!pip install pyarrow

In [4]:
import pandas as pd

vendas = pd.read_parquet('bronze/vendas_zoop_bronze.parquet')
estoques = pd.read_parquet('bronze/estoques_zoop_bronze.parquet')
redes_sociais = pd.read_parquet('bronze/redes_sociais_zoop_bronze.parquet')

In [6]:
vendas.tail()

,ID_venda,Dia,Mês,Ano,Horario,Canal_venda,Origem_venda,ID_produto,Produto,Categoria_produto,...,Quantidade,Metodo_pagamento,ID_cliente,Nome_cliente,Genero_cliente,Idade_cliente,Cidade_cliente,UF_cliente,Regiao_cliente,Avaliacao
9995,9995,19,8,2024,03:36:16,e-commerce,Facebook,24,TV Box,Eletrônicos,...,2,Cartão de crédito,207,Leandro Fonseca,Masculino,38,São Bernardo do Campo,São Paulo,Sudeste,5
9996,9996,19,8,2024,13:51:58,e-commerce,Facebook,27,Câmera de segurança,Eletrônicos,...,2,Cartão de crédito,408,Otávio Souza,Masculino,35,Fortaleza,Ceará,Nordeste,2
9997,9997,19,8,2024,15:37:49,e-commerce,Facebook,2,Ventilador de teto,Eletrodomésticos,...,3,Cartão de débito,434,Manuela Cirino,Feminino,34,Salvador,Bahia,Nordeste,5
9998,9998,19,8,2024,18:39:55,e-commerce,Facebook,22,Geladeira,Eletrodomésticos,...,2,PIX,432,Larissa Melo,Feminino,45,São Paulo,São Paulo,Sudeste,5
9999,9999,19,8,2024,20:19:40,e-commerce,Instagram,5,Liquidificador,Eletrodomésticos,...,2,PIX,174,Zoe Cunha,Feminino,34,São Paulo,São Paulo,Sudeste,3

In [7]:
estoques.tail()

,ID_estoque,ID_produto,Produto,Categoria_produto,Data,Horario,Quantidade_em_estoque,Quantidade_novos_produtos,Quantidade_vendida
1135,1135,25,Panela_elétrica,Eletrodomésticos,2024/08/01,06:48:00,364,32,10
1136,1136,26,Ventilador_de_coluna,Eletrodomésticos,2024/08/01,12:44:00,374,7,13
1137,1137,27,Câmera_de_segurança,Eletrônicos,2024/08/01,12:39:00,334,14,20
1138,1138,28,Fritadeira_elétrica,Eletrodomésticos,2024/08/01,09:06:00,363,40,8
1139,1139,29,Máquina_de_café,Eletrodomésticos,2024/08/01,17:30:00,439,7,13

In [8]:
pd.set_option('display.max_colwidth', 100)
redes_sociais.tail()

,ID_social,Data,Influencia_autor,Plataforma,Nome_produto,Categoria_produto,Comentario
9995,9995,2024-09-25,84736,X (Twitter),TV Box,Eletrônicos,Produto de ótima qualidade! Vale cada centavo. #TVBox Nota 5
9996,9996,2024-10-07,40628,X (Twitter),Câmera de segurança,Eletrônicos,Frustrado com a compra. Produto muito inferior ao esperado. #Cameradeseguranca Nota 2
9997,9997,2024-09-06,48669,Facebook,Ventilador de teto,Eletrodomésticos,Entrega rápida e produto conforme descrito. #Ventiladordeteto Nota 5
9998,9998,2024-09-03,22414,X (Twitter),Geladeira,Eletrodomésticos,Entrega rápida e produto conforme descrito. #Geladeira Nota 5
9999,9999,2024-10-06,70450,TikTok,Liquidificador,Eletrodomésticos,"Não tem nada de especial, mas cumpre a função. #Liquidificador Nota 3"